# Ignore everything
*

# Whitelist:
!/.gitignore
!/get_next_line.c
!/get_next_line.h
!/author

# Whitelist directories:
!*/

# Whitelist specific files in the directory:
!/eval_tests/*.txt
!/eval_tests/main.c.test
!/eval_tests/Makefile