# Ignore everything
*

# Whitelist:
!/.gitignore
!/get_next_line.c
!/get_next_line.h
!/author
!/README.md
!/graded.png

# Whitelist directories:
!*/

# Whitelist specific files in the directory:
!/libft/*.c
!/libft/Makefile
!/libft/includes/libft.h
!/eval_tests/*.txt
!/eval_tests/*.pdf
!/eval_tests/main.c.test
!/eval_tests/Makefile
